ion-item {
  --inner-padding-end: 0;
  --padding-start: unset;
  --background: transparent;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  font-size: 42px;
  margin-right: 8px;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 12px;
  font-weight: normal;
}

h1 {
  margin: 0;
  font-weight: bold;
  font-size: 22px;
}

p {
  line-height: 22px;
}
.container{}
.logo{
  display: flex;
  flex: 1 1 100%;
  justify-content: center;
  align-items: center;
  max-height: 300px;
}
.row{
  justify-content: space-between;
  align-items: center;
}
