<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="card$ | async as card">
  <ion-item class="container">
    <ion-img [src]="card.image" class="logo"></ion-img>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ card.name }}</h1>
    <p>{{ card.description }}</p>
  </div>
  <ion-row class="row">
    <ion-button>10$</ion-button>
		  <ion-button>100$</ion-button>
		  <ion-button>2.2 qty</ion-button>
		  <ion-button>9 qty</ion-button>
  </ion-row>
</ion-content>
