<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Our Products
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header class="header">
    <ion-toolbar>
		    <ion-searchbar showCancelButton="never" debounce="100" [formControl]="searchForm.controls['SEARCH']"
		                   (ionChange)="search()"></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  
		<ng-container *ngIf="!(searchActive$ | async); else searchRef">
    <ion-list *ngIf="cards$ | async as cards" class="list">
      <app-card *ngFor="let card of cards; index as id" [card]="card"></app-card>
    </ion-list>
		</ng-container>
		<ng-template #searchRef>
				<ion-list *ngIf="cacheSearchCards$ | async as cards" class="list">
						<app-card *ngFor="let card of cards; index as id" [card]="card"></app-card>
				</ion-list>
		</ng-template>
</ion-content>
