<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="card$ | async as card">
  <ion-item class="container">
    <ion-img [src]="card.image" class="logo"></ion-img>
  </ion-item>

  <div class="ion-padding">
    <h1>{{ card.name }}</h1>
    <p>{{ card.description }}</p>
  </div>
  <ion-row class="row">
    <ion-button (click)="sum(100, card.price)">100$</ion-button>
    <ion-button (click)="sum(10,  card.price)">10$</ion-button>
    <ion-button (click)="sumQuantity(2.2,  card.price)">2.2 qty</ion-button>
    <ion-button (click)="sumQuantity(9,  card.price)">9 qty</ion-button>
  </ion-row>
		<form [formGroup]="calcForm">
  <ion-row class="row-inputs">
    <ion-item class="overflow-visible">
      <ion-label class="label">Amount, $</ion-label>
      <ion-input [formControl]="calcForm.controls['AMOUNT']" type="number"></ion-input>
    </ion-item>
    <ion-item class="overflow-visible">
      <ion-label class="label">Quantity</ion-label>
      <ion-input [formControl]="calcForm.controls['QUANTITY']" type="number"></ion-input>
    </ion-item>
  </ion-row>
		</form>
</ion-content>
